:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #2c313f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	place-items: center;
	min-height: 100vh;
	margin: 0;
}

h1 {
	font-family: "Rubik", sans-serif;
	font-size: clamp(1rem, 8vw, 3.2rem);
	font-style: normal;
	font-weight: 700;
	font-optical-sizing: auto;
	line-height: 1.1;
	text-transform: uppercase;
}

main {
	padding: 2rem;
	margin: 0 auto;
	text-align: center;
}

.social {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.social a {
	display: flex;
	padding: 0.5rem;
	border-radius: 8px;
}

.social a:hover,
.social a:focus-visible {
	outline: 2px solid #3e69dc;
}

.icon-email path {
	fill: rgba(255, 255, 255, 0.87);
}

@media only screen and (prefers-color-scheme: light) {
	:root {
		color: #2c313f;
		background-color: #ffffff;
	}

	.icon-email path {
		fill: #2c313f;
	}
}
